@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: RobotoMedium;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: RobotoRegular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
.body {
    background-image: url(../Images/cropped2.0-removebg-preview.png);
    background-size: cover;
    background-repeat: no-repeat;
    
  }
.services_list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    row-gap: 1rem;
 
    place-self: center;

  }
.header-text{
    text-shadow: 1px 1px black;
}
@media screen and (min-width: 768px) {
   .body{
    background-image: none;
    background-image: rgb(0 102 255) ;
   /*  background:linear-gradient(to right, rgb(255, 255, 0) 5%, rgb(0 102 255) ) */
   }
}
 @media screen and (min-width:1024px) {
    .abouttxt{
        width: 55ch;
    }
} 

@media screen and (min-width: 1280px) {
    .abouttxt {
        width: 70ch;
    }
    
}
.preciseheight{
    height: 200px;
}
.specialImage {
    border-radius: 41% 59% 70% 30%/ 60% 30% 70% 40%;
    /* border-radius: 0% 100% 81% 19%/ 100% 0% 100% 0%; */
}


.portfolio-page > .Portfolio> div{
     display: grid;
     grid-template-columns: 1fr 1fr;
     place-items: center;
}
.portfolio-page > .Portfolio> div > div{
    width: 100%;
}
.portfolio-header{
    background: linear-gradient( to right,  rgb(0 102 255), rgb(250 204 21));
}